@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

.scroll-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 1000px;
}

.hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

#tilt {
  display: block;
  width: 450px;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  animation: tiltAnimation 5s ease-in-out infinite alternate;
}

#tilt:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.486));
  cursor: pointer;
}

@keyframes tiltAnimation {
  0% {
    transform: perspective(500px) scale(1.1) rotateX(5deg) rotateY(-5deg);
  }
  100% {
    transform: perspective(500px) scale(1.1) rotateX(-5deg) rotateY(5deg);
  }
}

.astext{
}

.effect-text {
  color: #f39c12;
  margin: 0 auto;
  animation: fadeIn 0.5s ease forwards;
  span{
    position: absolute;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-title {
  font-family: "Raleway", sans-serif;
  font-size: 50pt;
  color: var(--text-color);
}

/* Responsive styles */

/* Planshetlar va katta telefonlar uchun */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;

    span {
      margin-left: -100px;
    }

    #tilt {
      width: 100%;
      max-width: 550px;
      padding: 0 100px;
    }
  }
}

/* Kichik planshetlar uchun */
@media (max-width: 768px) {
  .main-title {
    font-size: 35pt;
  }


  #tilt {
    width: 100%;
    max-width: 450px;
    padding: 0 80px;
  }
}

/* Kichik telefonlar uchun */
@media (max-width: 576px) {
  .main-title {
    font-size: 28pt;
  }

  .effect-text{
    span{
      left: 55%;
    }
  }

  #tilt {
    width: 100%;
    max-width: 350px;
    padding: 0 60px;
  }
}

/* Juda kichik telefonlar uchun */
@media (max-width: 400px) {
  .main-title {
    font-size: 24pt;
  }

  .effect-text {
    // font-size: clamp(14px, 2.5vw, 50px);
  }

  #tilt {
    width: 100%;
    max-width: 300px;
    padding: 0 40px;
  }
}
