main{
    .info{
        margin: 50px 0;
    }
    .sponsore{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 20px 0;
        img{
            // height: 450px;
            overflow: hidden;
            width: 50%;
            border-radius: 10px;
            // background-color: var(--text-color);
            object-fit: cover;
        }
    }
}