header{
    .logo {
        display: flex;
        align-items: center;
        margin: 5px 10px 5px 5px;
        img{
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
        
    }

    .navbar{
        position: fixed;
        // background: rgba(255, 255, 255, 0.178);
        // backdrop-filter: blur(10px);
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px calc(var(--index) * 8);
        .sign{
            color: dodgerblue;
        }
    }
    
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .none{
        display: none;
    }
    
    button{
        color: rgba(255, 217, 0, 0.600);
        padding: 12px 25px;
        cursor: pointer;
        font-size: clamp(8px, 3vw, 15px);
        font-weight: 600;
        border-radius: 5px;
        background: transparent;
        border: 2px solid rgba(255, 217, 0, 0.600);
        transition: all .2s ease-in;
    }
    
    button:hover{
        color: var(--text-color);
        background-color: var(--button-color);
        cursor: pointer;
        transform: var(--transform-btn);
        border: 2px solid var(--button-color);
        box-shadow: var(--box-shadow);
    }
}

.header, .navbar{
    background-color: var(--bg-color);
}
.header-dark, .navbar{
    background-color: var(--bg-color);    
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    transform-style: preserve-3d;
    perspective: 500px;
    animation: toggle__animation 3s infinite;
  }
  
  .switch::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(20px);
    z-index: -1;
    border-radius: 50px;
    background-color: #d8ff99;
    background-image: radial-gradient(at 21% 46%, hsla(183,65%,60%,1) 0px, transparent 50%),
  radial-gradient(at 23% 25%, hsla(359,74%,70%,1) 0px, transparent 50%),
  radial-gradient(at 20% 1%, hsla(267,83%,75%,1) 0px, transparent 50%),
  radial-gradient(at 86% 87%, hsla(204,69%,68%,1) 0px, transparent 50%),
  radial-gradient(at 99% 41%, hsla(171,72%,77%,1) 0px, transparent 50%),
  radial-gradient(at 55% 24%, hsla(138,60%,62%,1) 0px, transparent 50%);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: #fdfefedc;
    background-color: #17202A;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.35em;
    transition: .4s;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
       rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
    background-color: #ff99fd;
    background-image: radial-gradient(at 81% 39%, hsla(327,79%,79%,1) 0px, transparent 50%),
    radial-gradient(at 11% 72%, hsla(264,64%,79%,1) 0px, transparent 50%),
    radial-gradient(at 23% 20%, hsla(75,98%,71%,1) 0px, transparent 50%);
  }
  
  .input__check:checked + .slider {
    background-color: #fdfefedc;
    // background-color: #17202A;
  }
  
  .input__check:checked + .slider:before {
    transform: translateX(1.5em);
  }
  
  @keyframes toggle__animation {
    0%, 100% {
      transform: translateY(-9px) rotateX(15deg) rotateY(-20deg);
    }
  
    50% {
      transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
    }
  } 




/* Animation */
@keyframes scrolls {
    from{
        top: -100px;
    }
    to{
        top: 0;
    }
}

/* Media */
@media (max-width: 1024px){
    .navbar, .navbar_show {
        padding: 10px 60px;
    }
}
@media (max-width: 568px){
    .navbar, .navbar_show{
        padding: 10px 20px !important;
        align-items: center;
    }
    .logo img{
        object-fit: contain;
        height: 30px !important;
    }
    header button{
        width: 100%;
        padding: 8px 12px;
        text-wrap: nowrap;
    }
    .navbar button{
        padding: 8px 10px;
        font-size: 11px;
    }
}

