
.gallery {
	display: flex;
	flex-wrap: wrap; /* Allow multiple items per row */
	justify-content: space-between;
	padding: calc(var(--index) * 3) 0;
  .gallery__item {
    flex: 0 1 50%; /* Each item takes 50% width minus gap */
    margin-bottom: var(--gallery-gap);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transform: translateY(100px); /* Start off-screen below */
    transition: transform 0.8s ease, opacity 0.8s ease;
    img{
      height: 400px;
      border-radius: 20px;
    }
  }
  
  .gallery__item.fade-up-right {
    transform: translateY(100px) translateX(100px); /* Start off-screen from right and down */
  }
  .gallery__item.fade-up-left {
    transform: translateY(100px) translateX(-100px); /* Start off-screen from left and down */
  }
  .text-block {
    color: var(--text-color);
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    margin-top: 1rem;
  }
  
  /* When elements come into view */
  .visible.fade-up-right {
    opacity: 1;
    transform: translateY(0) translateX(0); /* Move to original position from right */
  }
  .visible.fade-up-left {
    opacity: 1;
    transform: translateY(0) translateX(0); /* Move to original position from left */
  }
}
