.main-phone {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    article {
        width: 180px;
        height: auto;
    }

    section {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
