@keyframes slideInLeft {
  from {
    transform: translateX(-50%)
  }
  to {
    transform: translateX(50%);
  }
}

.main-phone {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    article {
        width: 180px;
        height: auto;
    }

    section {
        display: flex;
        align-items: center;
        height: auto;
        .phone1 {
          width: 400px;
            z-index: 1;
            position: relative;
            left: 270px;
            width: 600px;
        }

        .phone2 {
          height: 650px;
            z-index: 2;
            position: relative;
            top: 5px;
            height: 850px;
        }

        .phone3 {
          height: 650px;
            z-index: 2;
            position: relative;
            right: 130px;
            top: 8px;
        }
    }
}

.main-phone {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  article {
    width: 180px;
    height: auto;
}

  section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;

    img {
      transition: transform 0.5s ease-in-out , opacity 0.5s ease-in-out;

      &.animate {
        .phone1 {
          transform: translateX(0);
          opacity: 1;
          animation: slideInLeft 1s forwards;
        }
  
        .phone2 {
          transform: translateX(0);
          opacity: 1;
        }
  
        .phone3 {
          transform: translateX(0);
          opacity: 1;
          animation: slideInRight 1s forwards;
        }
      }

      &.phone1 {
        height: 450px;
        object-fit: contain;
      }

      &.phone3 {
        height: 450px;
        position: relative;
        top: -0.3px;
        object-fit: contain;
      }
      
      

      &.phone2 {
        height: 450px;
        position: relative;
        left: 30px;
        top: -8px;
        object-fit: contain;
      }
    }
  }
}