@keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

.main-phone {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    article {
        width: 180px;
        height: auto;
    }

    section {
        display: flex;
        align-items: center;
        height: auto;

        .phone {
            transition: all 1s ease-in-out;
        }

        .phone1 {
            z-index: 1;
            position: relative;
            left: 270px;
            width: 600px;
            transform: translateX(-270px);
        }

        .phone2 {
            z-index: 2;
            position: relative;
            top: 5px;
            height: 850px;
        }

        .phone3 {
            z-index: 3;
            position: relative;
            right: 130px;
            top: 8px;
            transform: translateX(130px);
        }
          
          .phone1.animate {
            animation: slideFromLeft 0.8s forwards;
        }
          
          .phone3.animate {
            animation: slideFromRight 0.8s forwards;
        }
    }
}
